 <!-- About Section -->
 <section class="success" id="location">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Lokasi</h2>
                <hr class="star-light">
                <a href="https://www.google.com/maps/place/zamas+guest+house/"><img src="https://maps.googleapis.com/maps/api/staticmap?center=zamas+guest+house&zoom=12&scale=1&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7Czamas+guest+house" alt="Google Map of zamas guest house"></a>
            </div>
        </div>
    </div>
</section>
